beautifulsoup4==4.7.1
certifi==2019.3.9
chardet==3.0.4
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.2
django-crispy-forms==1.7.2
et-xmlfile==1.0.1
idna==2.8
jdcal==1.4.1
lxml==4.3.3
openpyxl==2.6.2
python-decouple==3.1
pytz==2019.1
requests==2.21.0
soupsieve==1.9.1
sqlparse==0.3.0
static3==0.7.0
urllib3==1.24.2
