{% extends 'base.html' %}

  {% block content %}
  
    <div id="container-central">
        <form  method="post" action="/printers/info/">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-secondary btn-sm">Buscar</button>
        </form>
    </div>
    <br>
    <div id="container-central">
        <form  method="post" action="/printers/infolocal/">
            {% csrf_token %}
            {{ form2 }}
            <button type="submit" class="btn btn-secondary btn-sm">Buscar</button>
        </form>
    </div>

  {% endblock content %}