<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Gestão de Serviços">
    <meta name="author" content="Denis dos Reis">

    <title>DS_Admin</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">
    <link href="/static/bootstrap.css" rel="stylesheet">
    <link href="/static/cover.css" rel="stylesheet">  
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Gestão Campello</h3>&nbsp;
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/printers/home_printers">Outsourcing de Impressão</a>
            <a class="nav-link" href="https://fiatchrysler.service-now.com">Fleet Produção</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Fleet FCA</h1>
        <p class="lead">Atendimento com excelência.</p>
        <p class="lead">
          <a href="https://www.campello.com.br/" class="btn btn-lg btn-secondary">CAMPELLO IT</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Desenvolvido por Denis Santos <a href="https://www.facebook.com/denis.dosreissantos">Facebook</a>.</p>
        </div>
      </footer>
    </div>

  </body>
</html>
