{% extends 'base.html' %}

{% block content %}

    <table border="1" class="table">
        <thead class="thead-dark">
        <th>Serial</th><th>Contador</th><th>Local</th><th>IP</th><th>Etiqueta</th><th>-</th>

            {% for printer in printer %}
            <tr>
                <td><a href="{% url 'atualizar' printer.serial %}">{{ printer.serial }}</a></td></td>
                <td>{{ printer.contador }}</td>
                <td >GP: {{ printer.galpao }} - Col.{{ printer.coluna }}</td>
                <td>{{ printer.ip }}</td>
                <td>{{ printer.etiqueta }}</td>
                <td><a href="{% url 'deletar' printer.serial %}">Deletar</a></td>
                <!- Exibe as impressoras cadastradas no banco pelo serial -!>

            </tr>
        </thead>
            {% endfor %}
    </table>
    <form action="/printers/download/">
    <button type="submit" class="btn btn-outline-dark">Exportar .CSV</a></button>
    </form>
    
{% endblock content %}
    